name: try-gmt-python
channels:
    - conda-forge/label/dev
    - conda-forge
    - defaults
dependencies:
    - python=3.6
    - pip
    - gmt=6.0.0*
    - numpy
    - pandas
    - matplotlib
    - jupyter
    - pip:
        - https://github.com/GenericMappingTools/gmt-python/archive/master.zip
